:root {
  --color-primary: #93ba2f;
  --color-secondary: #ff6b6b;
  --color-dark: #556363;
  --color-light: #eee;
  --color-accent: #c7f464;
  --color-highlight: #19aac4;
}

body {
  text-align: center;
  color: var(--color-dark);
  background: var(--color-light);
  padding: 0;
  margin: 0;
  border-top:6px solid var(--color-dark);
  transition: border 0.2s ease-out;
}
html {
  padding: 0;
  margin: 0;
}

body.p1 {
  border-color: var(--color-highlight);
}
body.p2 {
  border-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
p,
span,
div,
a,
td,
li {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#footer {
  font-size:12px;
  opacity:0.7;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  margin-bottom:50px;
}
#footer:hover {
  opacity:1;
}
#footer a {
  color:#a83f5c;
  text-decoration:none;
}
#footer a:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: flash;
  animation-name: flash;
}
#footer span {
  font-size:8px;
  padding:0 6px;
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
